In [3]:
import os
os.chdir(r'D:\albert\programming\git_reps\molecular_dynamics\data\2022-09-25_velocity_scaling_HV_2e-5_T_01e-4')

In [4]:
import pandas as pd

In [5]:
dataframes = []
for filename in os.listdir():
    if filename.startswith('system_parameters'):
        if len(filename.split('_')) > 5:
            dataframes.append(pd.read_csv(filename, sep=';'))

In [10]:
data = pd.concat(dataframes).reset_index(drop=True)
data.time -= 0.005
data

,time,temperature,pressure,kinetic_energy,potential_energy,total_energy,virial,msd,diffusion,volume
0,59999.999,0.102352,-0.782785,210.602130,-9916.209,-9705.606,-4738.1064,0.0,0.0,1838.2656
1,60000.005,0.102353,-0.783081,210.606890,-9916.258,-9705.651,-4739.7490,0.0,0.0,1838.2656
2,60000.011,0.102355,-0.783224,210.611760,-9916.102,-9705.490,-4740.5470,0.0,0.0,1838.2656
3,60000.015,0.102356,-0.783376,210.616800,-9915.926,-9705.309,-4741.3920,0.0,0.0,1838.2656
4,60000.018,0.102357,-0.783470,210.621490,-9915.622,-9705.001,-4741.9194,0.0,0.0,1838.2656
...,...,...,...,...,...,...,...,...,...,...
2000095,69999.975,0.000100,-0.883586,0.205872,-9940.807,-9940.601,-4873.2085,0.0,0.0,1838.2656
2000096,69999.979,0.000100,-0.883540,0.206087,-9940.793,-9940.587,-4872.9580,0.0,0.0,1838.2656
2000097,69999.985,0.000100,-0.883541,0.205876,-9940.808,-9940.602,-4872.9614,0.0,0.0,1838.2656
2000098,69999.985,0.000100,-0.883485,0.206066,-9940.789,-9940.583,-4872.6494,0.0,0.0,1838.2656
2000099,69999.995,0.000100,-0.883444,0.205831,-9940.799,-9940.593,-4872.4272,0.0,0.0,1838.2656

In [11]:
data = data.loc[(data.index % 10 == 0)].reset_index(drop=True)
data.time = data.time.round(2)
data

,time,temperature,pressure,kinetic_energy,potential_energy,total_energy,virial,msd,diffusion,volume
0,60000.00,0.102352,-0.782785,210.602130,-9916.209,-9705.6060,-4738.1064,0.0,0.0,1838.2656
1,60000.05,0.102361,-0.785268,210.637390,-9915.807,-9705.1690,-4751.8687,0.0,0.0,1838.2656
2,60000.10,0.102353,-0.787478,210.605830,-9916.031,-9705.4260,-4763.9927,0.0,0.0,1838.2656
3,60000.15,0.102343,-0.788111,210.566900,-9916.318,-9705.7510,-4767.4043,0.0,0.0,1838.2656
4,60000.20,0.102343,-0.787654,210.571320,-9916.102,-9705.5300,-4764.8965,0.0,0.0,1838.2656
...,...,...,...,...,...,...,...,...,...,...
200005,69999.75,0.000100,-0.884510,0.205648,-9940.561,-9940.3545,-4878.3030,0.0,0.0,1838.2656
200006,69999.80,0.000100,-0.884369,0.206346,-9940.655,-9940.4490,-4877.5290,0.0,0.0,1838.2656
200007,69999.84,0.000100,-0.884166,0.206237,-9940.693,-9940.4870,-4876.4097,0.0,0.0,1838.2656
200008,69999.90,0.000100,-0.883918,0.205499,-9940.693,-9940.4880,-4875.0396,0.0,0.0,1838.2656
200009,69999.94,0.000100,-0.883705,0.205865,-9940.808,-9940.6020,-4873.8670,0.0,0.0,1838.2656

In [12]:
data.to_csv('system_parameters.csv', sep=';', index=False)